.modal2 {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    overflow: auto;
    --color: #20bd83;
}

.modal2__item {
    position: relative;
    z-index: 2;
    width: 300px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
}

.modal2__btns {
    display: flex;
}

.modal2__btn {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

.modal2__btn:nth-child(1) {
    border-bottom-left-radius: 8px;
}

.modal2__btn:nth-child(2) {
    border-bottom-right-radius: 8px;
}

.modal2__btn:hover {
    color: rgb(2, 73, 131);
}

.modal2__btn:active {
    opacity: .7;
}

.modal2__content {
    text-align: center;
}